<h1>
  {{title}}
</h1>
<!--<button type="button" class="btn btn-primary" (click)="showChildModal()">pop</button>-->
<button type="button" class="btn btn-primary" (click)="postRequest()">postRequest</button>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">message:</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{global_error_message}}
      </div>
    </div>
  </div>
</div>
